


body {
  background-color: rgb(0, 0, 0);
  overflow: hidden; /* jangan dihapus ini */
}

/* Biar tetap bisa scroll tapi scrollbar-nya ilang */
html, body {
  height: auto;
  overflow-y: auto;
 overflow-x: hidden; /* 🔥 hilangkan scroll horizontal */
  touch-action: pan-y !important;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch; /* biar halus di HP */
}

/* Sembunyikan scrollbar di semua browser */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none; /* Firefox */
}


.transition-overlay {
  position: fixed;
  inset: 0;
  background: #000 url('/textures/noise.png') center/cover no-repeat;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: lighten;
}

